.form-container {
  max-height: 500px;
  overflow-y: auto;
}

.form-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.form-input-row {
  display: flex;
  justify-content: space-evenly;
}

.error-message {
  color: red;
}

.backgroundImage {
  background-image: url(../../assets/images/image-calculation.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
